.dictionary {
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.dictionary-row {
    display: flex;
    border-bottom: solid 1px #ffffff3b;
}

.dictionary-row div {
    padding: 5px 10px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dictionary-row div:first-child {
    width: 60px;
    background: #272643c7;
}

.dictionary-row div:nth-child(2) {
    width: 120px;
    background: #27264382;
}

.dictionary-row div:last-child {
    width: 120px;
    background: #272643a1;
}

.dictionary-row div.head:first-child {
    background: #272643;
}

.dictionary-row div.head:nth-child(2) {
    background: #272643a3;
}

.dictionary-row div.head:last-child {
    background: #272643c7;
}

.head {
    text-transform: uppercase;
    font-weight: 500;
}

.addQ {
    margin-bottom: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    background: #272643;
    cursor: pointer;
    color: #e3f6f5;
}

.search-word input {
    display: block;
    padding: 8px 8px;
    font-size: 14px;
    margin-bottom: 10px;
    background: #c5e3e5;
    border: none;
    border-radius: 4px;
    width: 100%;
    color: #272643;
    font-weight: 200;
    box-sizing: border-box;
}